body {
    background-color: black;
}
#intro {
    color: white;
    height: 100vh;
    text-shadow: 2px 2px #8f0000;
}

#intro h1 {
    font-size: 96px;
    text-shadow: 2px 2px red;
    animation: fadein ease-in 2s;
}
#intro h2 {
    opacity: 0;
    animation: fadein;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
#intro code {
    font-size: 1.74rem;
    color: black;
    opacity: 0;
    animation: fadein;
    animation-delay: 2s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
#arrowdown {
    font-size: 60px;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 30px);
}
#about {
    color: white;
    background-color: grey;
    padding: 30px;
    text-shadow: 1px 1px black;
}
#contact {
    background-color: #8f0000;
    color: white;
    padding: 30px;
    text-shadow: 2px 2px grey;
}
form input,
form textarea {
    width: 100%;
    padding: 10px;
}
#email {
    margin-top: 15px;
    margin-bottom: 15px;
}
form .btn-dark {
    width: 100%;
    margin-top: 15px;
    color: black;
}
form .btn {
    color: white;
}
#contact a {
    color: black;
}
#projects {
    background-color: gray;
    padding: 30px;
    color: white;
    text-shadow: 2px 2px black;
}
footer {
    color: white;
    padding: 5px;
}
section {
    box-shadow: -10px 0 45px black;
}
.card {
    text-shadow: 1px 1px red;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
